---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="blog-hero">
<h1>Get Great Content About Web And Tech</h1>
<div class="blog-pitch">
  <div class="blog-pitch-photo">
    <img src="img/lat2-smaller.png" alt="Ronald Otieno's photo">
  </div>
  <p class="pitch-words">
    Receive the tips I use to develop websites and web apps in the fastest and most efficient way!
    </p>
</div>
<div class="cta-container">
  <form id="newsForm">
    <ul class="form-body">
      <input id="newsInput" type="text" placeholder="Email Address">
      <button id="newsButton"type="submit"> Get Tips</button>
    </ul>
  </form>
</div>
</div>
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p class="archive-link">More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a></p>
