---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h1 class="tagged">Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

{# <p class="see-tags">See <a href="{{ '/tags/' | url }}">all tags</a>.</p> #}
<a class="see-tags" href="/blog{{ '/tags/' | url }}"> <button>see all tags </button> </a>
